{#-
  Google Tag Manager. All tags (GA4, Google Ads conversion on /thank-you/, click-to-call on
  [data-track="phone"]) live in the GTM container, never hard-coded here.
  base.njk only calls these when env.production is true and site.tracking.gtmId is set.
-#}
{%- macro gtmHead(id) -%}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ id }}');</script>
{%- endmacro -%}

{%- macro gtmBody(id) -%}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ id }}" title="Google Tag Manager" height="0" width="0" hidden></iframe></noscript>
{%- endmacro -%}
